@import "../App.scss";

.country {
  .country-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: bold;
    color: $base-light;
    background-color: $base-blue;

    @media only screen and (max-width: 600px) {
      & {
        padding: 15px 10px;
      }
    }
  }
  .tableNewsHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .newsFeed {
    width: 350px;
  }
}
