$base-blue: #090c9b;
$base-cyan: #01baef;
$base-cyanLight: #546a7b;
$base-dark: #000000;
$base-darkshaded: #3a3e3b;
$base-light: #fcf7ff;
$base-red: #b10f2e;
$base-green: #39982a;
$base-grey: #c5c5c5;
$base-paleblue: #c2c2d5;

.container {
  padding: 1rem 2rem;
  min-height: 100vh;
}

a {
  color: $base-darkshaded;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem 1.5rem;
  }
}
